<body>
<h1>User Registration</h1>

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}

    <form action="/api/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
    </body>